$color-black: #000;
$color-charcoal: #444;
$color-downy: #63d1bb;
$color-downy-dark: #62d1ba;
$color-gainsboro: #e5e5e5;
$color-medium-turquoise: #59d5bc;
$color-nero: #231f20;
$color-puerto-rico: #56c3b2;
$color-puerto-rico-dark: #46c1ae;
$color-silver: #c6c6c6;
$color-white: #fff;
$color-white-smoke: #f9f9f9;
$color-white-smoke-dark: #f1f1f1;
$color-white-smoke-darker: #ececec;

$color-accent-primary: $color-downy;
$color-accent-secondary: $color-downy-dark;
$color-accent-tertiary: $color-puerto-rico-dark;
$color-bg-primary: $color-white;
$color-bg-secondary: $color-white-smoke-dark;
$color-border-primary: $color-white-smoke-darker;
$color-border-secondary: $color-charcoal;
$color-fill-icon: $color-nero;
$color-text-primary: $color-charcoal;
$color-text-secondary: $color-black;

$md: 768px;
$lg: 1150px;
